<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2x1ehGE-o-oMLSVp_2Btmp8gNoA_5WpY</string>
	<key>GCM_SENDER_ID</key>
	<string>55581231516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quranyosr.app</string>
	<key>PROJECT_ID</key>
	<string>quranyosrapp</string>
	<key>STORAGE_BUCKET</key>
	<string>quranyosrapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55581231516:ios:22dca76f4f2f070c81e059</string>
</dict>
</plist>